.bundle/
coverage/
log/*.log
pkg/

spec/examples.txt
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache

.byebug_history
.ruby-gemset
.ruby-version

*.gem
gemfiles/*.lock
Gemfile.lock
