<!DOCTYPE html>
<html>
<head>
  <title>Starburst</title>
  <%= stylesheet_link_tag    "starburst/application", media: "all" %>
  <%= javascript_include_tag "starburst/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
