<% if current_announcement %>
	<div data-alert class="alert-box" id="one-time-announcement">
	 	<p><%= current_announcement.body %></p>
	 	<%= link_to "&times;".html_safe, Starburst::Engine.routes.url_helpers.mark_as_read_path(current_announcement.id), :method => :post, :remote => true, :id => "one-time-announcements-close", :class => "close" %>
	</div>
<% end %>