<% if current_announcement %>
	<%= form_tag starburst.mark_as_read_path(current_announcement.id), :remote => true do %>
		<div class="alert alert-info" id="starburst-announcement" role="alert">
			<button name="commit" type="submit" class="close" id="starburst-close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<p><%= current_announcement.body.html_safe %></p>
		</div>
	<% end %>
<% end %>